body{
  background-color:#ffffff;
  margin-left: 30px;
  margin-right: 30px;
  }
h1{
  text-align: center;
  padding: 30px;
  background-color:#ebe1ca;
  border-radius: 15px;
  margin: 15px;
}
div{
  background-color:#ebe1ca;
  padding: 30px;
  border-radius: 15px;
  margin: 15px;
}
p{
  text-align: center;
}
